---
title: Ekip Üyelerimiz
hero: Ekip Üyelerimiz
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Ekip Üyelerimiz</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	
	{% endfor %}


	<div class="thirds story-points">
		<div>
			<h3 class="editable" data-cms-index="0" data-cms-source="/about.html">BİZ KİMİZ ?</h3>
			<p class="editable" data-cms-index="1" data-cms-source="/about.html">Geçmiş zamandaki saatlerden yoka çıkarak masa ve duvar saatlerini günümüze uyarlayıp saatler üretiyoruz.</p>
		</div>
		<div>
			<h3 class="editable" data-cms-index="0" data-cms-source="/about.html">Misyonumuz </h3>
			<p class="editable" data-cms-index="1" data-cms-source="/about.html">Geçmiş ve günümüz saatlerini birleştirerek yaptığımız ürünlerimizde kaliteyi prensip haline getirerek, müşterilerimize kusursuz bir hizmet verme amaçlı güden markamız, müşteri memnuniyetini ön planda tutuyor.</p>
		</div>

	
	</div>

	<div class="thirds story-points">
		<div>
			<h3 class="editable" data-cms-index="2" data-cms-source="/about.html">PRUSAAT NE DEMEK ?</h3>
			<p class="editable" data-cms-index="3" data-cms-source="/about.html">Prusa Bursa'nın eski adı. Bizde 'Prusa' ve 'Saat' kelimelerini birleştirerek Prusaat İsmini oluşturduk.</p>
		</div>

		<div>
			<h3 class="editable" data-cms-index="2" data-cms-source="/about.html">Vizyonumuz</h3>
			<p class="editable" data-cms-index="3" data-cms-source="/about.html">Dünya genelinde hizmet veren saat markaları arasında en iyi ve yenilikçi markalardan biri olmak.</p>
		</div>
	</div>

	<div class="thirds story-points">
		<div>
			<h3 class="editable" data-cms-index="4" data-cms-source="/about.html">Sloganlarımız </h3>
			<p class="editable" data-cms-index="5" data-cms-source="/about.html">Zamandan Fazlası <br>
				Geçmişin Yansıması Geleceğin Göstergesi</p>
		</div>
	</div>
</ul>


